<app-header></app-header>
<ion-content class="login-page">  
    <ion-icon class="register-icon" name="person-circle-sharp"></ion-icon>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-input placeholder="First Name" formControlName="fname" type="text"></ion-input>
        <ion-icon name="person-outline" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.fname.touched &&controls.fname.errors" lines="none">
        <div>
          <ion-label class="ion-text-wrap" color="danger"
            >Firstname can not contain whitespace, numbers and special characters.</ion-label
          >
        </div>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-input placeholder="Last Name" formControlName="lname" type="text"></ion-input>
        <ion-icon name="person-outline" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.lname.touched &&controls.lname.errors" lines="none">
        <div>
          <ion-label class="ion-text-wrap" color="danger"
            >Lastname can not contain whitespace, numbers and special characters.</ion-label
          >
        </div>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-input autofill="off" placeholder="Email" formControlName="email" type="text" autocomplete="username">
        </ion-input>
        <ion-icon name="mail-outline" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.email.errors && (controls.email.touched || controls.email.dirty)" lines="none">
        <div>
          <ion-label color="danger">The email address is badly formatted.</ion-label>
        </div>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-label class="label-color">Gender</ion-label>
        <ion-icon slot="end" name="people-outline"></ion-icon>
        <ion-select class="select-icon" mode="ios" formControlName="gender">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-label class="label-color">Birth date</ion-label>
        <ion-datetime  max="{{currentDate}}" formControlName="birthdate"></ion-datetime>
        <ion-icon slot="end" name="calendar-outline"></ion-icon>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-input placeholder="Password" formControlName="password" type="password" clear-on-edit
          autocomplete="new-password"></ion-input>
        <ion-icon name="key-outline" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="controls.password.errors && controls.password.errors.minlength && (controls.password.touched || controls.password.dirty)"
        lines="none"
      >
        <div>
          <ion-label color="danger">Password must be at least 6 characters long.</ion-label>
        </div>
      </ion-item>
      </ion-card>

      <ion-card class="login-card">
      <ion-item class="card-input-box">
        <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password" clear-on-edit
          autocomplete="new-password">
        </ion-input>
        <ion-icon name="key-outline" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch && (controls.confirmPassword.touched || controls.confirmPassword.dirty)"
        lines="none"
      >
        <div>
          <ion-label color="danger">Passwords must match.</ion-label>
        </div>
      </ion-item>
      </ion-card>
      <div>
        <ion-label color="danger">{{ singUpFailedErrorMsg }}</ion-label>
      </div>


      <ion-button expand="block" class="login-button" fill="solid" size="default" (click)="register()"
        [disabled]="!registerForm.valid">Register Now</ion-button>

      <div class="ion-text-center margin-top margin-bottom">
        <h6>
          <a routerLink="/login" routerDirection="back" style="text-decoration: none;">
          Already have an account? <ion-text color="danger">Login</ion-text>
          </a>
        </h6>
      </div>
    </form>

</ion-content>
