ion-avatar {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;

    ion-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 3px;
        right: -3px;
    }
}

ion-label.label-color {
    color: #8f8f91 !important;
}

.profile_avatar {
    margin:5rem auto;
}

@media only screen and (min-height: 660px) {
    div.register-card {
        bottom: 15%;
        position: absolute;
        width:100%;
    }
}

.register-icon {
    font-size: 6rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 100%;
}

.register-title{
    color: var(--ion-color-primary);
    text-align: center;
    margin-top: 3rem;
}