
<article>
<ion-content class="signUp-page">
  <section>
        <form class="slateIn-form" [formGroup]="registerForm" (ngSubmit)="register()">
          <!-- Name -->
          <ion-item class="form-field">
            <ion-input placeholder="First Name" formControlName="fname" type="text"></ion-input>
            <ion-icon name="person-outline" slot="end" align-self-end></ion-icon>
          </ion-item>
          <div class="error-div" *ngIf="controls.fname.touched &&controls.fname.errors" lines="none">
            <ion-label class="ion-text-wrap" color="danger">Firstname can not contain whitespace, numbers and special
              characters.</ion-label>
          </div>

          <!-- Email -->
          <ion-item class="form-field">
            <ion-input autofill="off" placeholder="Email" formControlName="email" type="text" autocomplete="username">
            </ion-input>
            <ion-icon name="mail-outline" slot="end" align-self-end></ion-icon>
          </ion-item>
          <div class="error-div" *ngIf="controls.email.errors && (controls.email.touched || controls.email.dirty)"
            lines="none">
            <ion-label color="danger">The email address is badly formatted.</ion-label>
          </div>


          <!-- Password -->
          <ion-item class="form-field">
            <ion-input placeholder="Password" formControlName="password" type="password" clear-on-edit
              autocomplete="new-password"></ion-input>
            <ion-icon name="key-outline" slot="end" align-self-end></ion-icon>
          </ion-item>
          <div class="error-div"
            *ngIf="controls.password.errors && controls.password.errors.minlength && (controls.password.touched || controls.password.dirty)"
            lines="none">
            <ion-label color="danger">Password must be at least 6 characters long.</ion-label>
          </div>

          <!-- Confirm Password -->
          <ion-item class="form-field">
            <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password" clear-on-edit
              autocomplete="new-password">
            </ion-input>
            <ion-icon name="key-outline" mode="ios" slot="end" align-self-end></ion-icon>
          </ion-item>
          <div class="error-div"
            *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch && (controls.confirmPassword.touched || controls.confirmPassword.dirty)"
            lines="none">
            <ion-label color="danger">Passwords must match.</ion-label>
          </div>

          <div>
            <ion-label color="danger">{{ singUpFailedErrorMsg }}</ion-label>
          </div>

          <ion-button expand="block" class="signUp-button" fill="solid" (click)="register()"
            [disabled]="!registerForm.valid">
            <ion-label>
              Register Now
            </ion-label>
          </ion-button>

          <section class="ion-text-center margin-top margin-bottom">
            <h4> Already have an account? <a routerLink="/login" routerDirection="back">
                <ion-label class="signUp-text">Login</ion-label>
              </a>
            </h4>
          </section>
        </form>
  </section>
</ion-content>
</article>