<app-header></app-header>
<ion-content>
  <div class="register-card">
    <ion-item class="default-avatar">
      <div class="profile_avatar">
        <ion-avatar (click)="onProfilePicClick()">
          <img #profilePic [src]="avatarSrc" />
          <ion-icon mode="md" name="add-circle"></ion-icon>
        </ion-avatar>
      </div>
    </ion-item>

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-input placeholder="First Name" formControlName="fname" type="text"></ion-input>
        <ion-icon name="person" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.fname.touched &&controls.fname.errors" lines="none">
        <div>
          <ion-label class="ion-text-wrap" color="danger"
            >Firstname can not contain whitespace, numbers and special characters.</ion-label
          >
        </div>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Last Name" formControlName="lname" type="text"></ion-input>
        <ion-icon name="person" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.lname.touched &&controls.lname.errors" lines="none">
        <div>
          <ion-label class="ion-text-wrap" color="danger"
            >Lastname can not contain whitespace, numbers and special characters.</ion-label
          >
        </div>
      </ion-item>

      <ion-item>
        <ion-input autofill="off" placeholder="Email" formControlName="email" type="text" autocomplete="username">
        </ion-input>
        <ion-icon name="mail" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item *ngIf="controls.email.errors && (controls.email.touched || controls.email.dirty)" lines="none">
        <div>
          <ion-label color="danger">The email address is badly formatted.</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <ion-label class="label-color">Gender</ion-label>
        <ion-select placeholder="Select One" mode="ios" formControlName="gender">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label class="label-color">Birth date</ion-label>
        <ion-datetime placeholder="Select Date" max="{{currentDate}}" formControlName="birthdate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-input
          placeholder="Password"
          formControlName="password"
          type="password"
          clear-on-edit
          autocomplete="new-password"
        ></ion-input>
        <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="controls.password.errors && controls.password.errors.minlength && (controls.password.touched || controls.password.dirty)"
        lines="none"
      >
        <div>
          <ion-label color="danger">Password must be at least 6 characters long.</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <ion-input
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          type="password"
          clear-on-edit
          autocomplete="new-password"
        >
        </ion-input>
        <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item
        *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch && (controls.confirmPassword.touched || controls.confirmPassword.dirty)"
        lines="none"
      >
        <div>
          <ion-label color="danger">Passwords must match.</ion-label>
        </div>
      </ion-item>

      <div>
        <ion-label color="danger">{{ singUpFailedErrorMsg }}</ion-label>
      </div>

      <ion-button
        expand="block"
        class="ion-margin-top register"
        fill="solid"
        size="default"
        (click)="register()"
        [disabled]="!registerForm.valid"
        >Register</ion-button
      >

      <div class="ion-text-center margin-top margin-bottom">
        <a routerLink="/login" routerDirection="back" style="text-decoration: none;">
          Already have account? Login
        </a>
      </div>
    </form>
  </div>
</ion-content>
