.task-display {
    padding: 2%;

    .icon-area {

        .fav-button,
        .display-button {
            --background: white;
            color: var(--ion-color-slateIn-success);
            --padding-start: 2px;
            --padding-end: 2px;
        }
    }

    // Grid start
    .task-grid {
        border-radius: 10px;

        // Default section
        .tile-section {
            // border: 0.5px solid var(--ion-color-slateIn-primary);
            
        }
    }

    .createCol {
        .tile-section {
            border-radius: 10px;
            height: 100%;
            overflow: scroll;
            max-height: 200px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

            .task-title-div {
                width: 100%;
                display: inline-block;

                // H4 of task title
                .task-title {
                    margin: 0px;
                    font-weight: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .fav-btn-div {
                width: 100%;
                display: inline-block;
            }

            .border-bottom {
                border-bottom: 0.5px solid var(--ion-color-slateIn-primary);
            }

            .allItems {
                div {
                    margin: 3% 2%;
                }
            }
        }

    }
    .createRow {
        .row-section {
            ion-card{
                margin: 0px;
            }
        }
    }

    .add-fav {
        --padding-start: 0px;
        --padding-end: 0px;
        --background: white;
        width: auto;
        margin: 0px;
        color: var(--ion-color-slateIn-success);
    }
}