.todo-display {

    .task-title {
        margin: 0px;
        padding-left: 10%;
    }

    .icon-area {
        text-align: right;
        .fav-button,.display-button {
            --background: white;
           color: var(--ion-color-slateIn-success);
       }
    }

    .task-grid {
        border-radius: 10px;

        section {
            border: 0.5px solid var(--ion-color-slateIn-primary);
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
        }
    }


    @mixin list-section-tile {
        section {
            // transition: all 400ms ease;
            p {
                
                border-bottom: 0.3px solid var(--ion-color-slateIn-primary);
                padding: 5%;
                font-size: large;
                margin: 0px;
            }

            ol {
                padding-left: 15%;
                margin: 4% 2%;

                li {
                    font-size: medium;
                }
            }
        }
    }

    @mixin list-section-row {
        section {
            // transition: all 400ms ease;
            p {
                padding: 3%;
                font-size: larger;
                margin: 0px;
            }
        }
    }

    .createCol {
        // transition: all 800ms ease;
        @include list-section-tile();
    }

    .createRow {
        // transition: all 800ms ease;
        @include list-section-row();
    }

  
}