<ion-card>
  <ion-icon src="./assets/icons/close.svg"></ion-icon>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <ion-card-header>
          Up Next
        </ion-card-header>
      </ion-col>
      <ion-col class="next-due-task">
        <ion-card-header class="left-margin">
          17 mins 30 seconds left
        </ion-card-header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <ion-badge class="bottom-margin">
          <span>08:00 am</span>
        </ion-badge>
      </ion-col>
      <ion-col class="next-due-task">
        <ion-card-header class="bottom-margin left-margin task-info" style="margin-top: 1px;">
          Start getting ready to go to work
        </ion-card-header>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card>
