<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col class="today" size="3.5">
      <ion-button>
        <span>Today &nbsp;</span>
        <span class="date">21</span>
      </ion-button>
    </ion-col>

    <ion-col class="day">
      <ion-button>
        <span>22</span>
      </ion-button>
    </ion-col>

    <ion-col class="day">
      <ion-button>
        <span>23</span>
      </ion-button>
    </ion-col>

    <ion-col class="day">
      <ion-button>
        <span>24</span>
      </ion-button>
    </ion-col>

    <ion-col class="day">
      <ion-button>
        <span>25</span>
      </ion-button>
    </ion-col>

    <ion-col class="day">
      <ion-button>
        <span>26</span>
      </ion-button>
    </ion-col>

  </ion-row>

</ion-grid>

<!-- <ion-grid>
  <ion-row class="ion-text-center">
    <ion-col size="auto">
      <div>Today 21</div>  
    </ion-col>
    <ion-col offset="0.5">
      <div>21</div>  
    </ion-col>
    <ion-col  offset="0.5">
      <div>21</div>  
    </ion-col>
    <ion-col  offset="0.5">
      <div>21</div>  
    </ion-col >
    <ion-col  offset="0.5">
      <div>21</div>  
    </ion-col>
    <ion-col  offset="0.5">
      <div>21</div>  
    </ion-col>
  </ion-row>
</ion-grid> -->