<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backClicked()">
      <ion-icon name="arrow-back" size="large"></ion-icon>
      Back
    </ion-buttons>
    <ion-title>Security Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="updatePwdForm">
    <ion-item>
      <ion-input
        placeholder="Current Password"
        formControlName="currentPassword"
        type="password"
        clear-on-edit
        autocomplete="current-password"
      ></ion-input>
      <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input
        placeholder="Password"
        formControlName="password"
        type="password"
        clear-on-edit
        autocomplete="new-password"
      ></ion-input>
      <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="controls.password.errors && controls.password.errors.minlength" lines="none">
      <div>
        <ion-label color="danger">Password must be at least 6 characters long.</ion-label>
      </div>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        type="password"
        clear-on-edit
        autocomplete="new-password"
      >
      </ion-input>
      <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch" lines="none">
      <div>
        <ion-label color="danger">Passwords must match</ion-label>
      </div>
    </ion-item>

    <ion-item lines="none" *ngIf="updatePwdErrorMsg">
      <ion-label color="danger ion-text-wrap">{{ updatePwdErrorMsg }}</ion-label>
    </ion-item>

    <ion-button
      expand="block"
      class="ion-margin-top register"
      fill="solid"
      size="default"
      (click)="validateAndUpdatePwd()"
      [disabled]="!updatePwdForm.valid"
      >Update Password</ion-button
    >
  </form>
</ion-content>
