
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Security Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list>
      
      <ion-list-header>
        change password
      </ion-list-header>
      <ion-item lines="full">
      </ion-item>
  
      <!-- <ion-list-header>
        Birthday
      </ion-list-header>
      <ion-item lines="full">
        <ion-label> {{formatDate(info.birthdate)}}</ion-label>
      </ion-item>
  
  
      <ion-list-header>
        Gender
      </ion-list-header>
      <ion-item lines="full">
        <ion-label>{{info.gender | titlecase}}</ion-label>
      </ion-item> -->
  
    </ion-list>
  </ion-content>
</ion-content>
