<ion-content class="login-page">
  <article class="parent flex flex-column padding16">
    <section class="app-logo">
      <ion-grid>
        <ion-row>
          <ion-col class="app-logo-col">
            <div>
              <img src="../../assets/icon/logo.svg" alt="slateInLogo">
            </div>
            <h1 class="app-title page-header-level-1">Welcome Back</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="form-section">
      <form class="login-form flex flex-column slateIn-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <!-- Form field Username-->
          <ion-item class="item-input-field">
            <ion-input class="app-form-field" autofill="off" placeholder="Email" formControlName="email" type="text"
              autocomplete="username">
            </ion-input>
          </ion-item>

          <!-- Form field Password-->
          <ion-item class="item-input-field">
            <ion-input class="app-form-field" placeholder="Password" formControlName="password"
              [type]="!showPassword ? 'password' : 'text'" clear-on-edit autocomplete="new-password">
            </ion-input>
            <ion-icon *ngIf="!showPassword" (click)="toggleShowPassowrd()" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="showPassword" (click)="toggleShowPassowrd()" name="eye-off-outline"></ion-icon>
          </ion-item>

          <div class="link-div flex flex-row">
            <!-- Remember-me checkbox-->
            <ion-item lines="none" class="">
                <ion-checkbox item-right size="small" formControlName="canRemember" color="primary" style="margin-right: 0px;"></ion-checkbox>
                <ion-label class="notice-text-level-1 remember-text">Remember Me</ion-label>
            </ion-item>
           
            <!-- Forgot Password -->
            <ion-item lines="none">
              <ion-label class="fg-pass-label ">
                <a routerLink="/login/forgot-password" routerDirection="forward" fill="clear" class="no-decoration">
                  <ion-label class="notice-text-level-1">Forgot password?</ion-label>
                </a>
              </ion-label>
            </ion-item>
          </div>
     

          <section class="margin-bottom margin-top text-center">
            <div class="error-div">
              <ion-label color="danger">{{loginErrorMsg}}</ion-label>
            </div>
          </section>
        </div>

        <!-- button section-->
        <div>
          <ion-button expand="block" class="action-button-full" fill="solid" (click)="login()"
            [disabled]="!loginForm.valid">
            <ion-label class="btn-label notice-text-level-3">
              Sign In
            </ion-label>
          </ion-button>

          <section class="ion-text-center">
            <ion-label class="notice-text-level-2 text-reg"> Don't have an account? <a class="no-decoration" 
                routerLink="/login/register"
                routerDirection="forward">
                <ion-label class="signUp-text">Create account</ion-label>
              </a>
            </ion-label>
          </section>

          <!-- Social media login buttons -->
          <section class="btn-options flex flex-row">
            <div>
              <ion-label class="text-reg">
                Continue with
              </ion-label>
            </div>
            <div>
              <ion-button expand="block" class="login-button-options" fill="white" (click)="loginWithGoogle()">
                <ion-label>
                  <ion-icon title="Google" name="logo-google" size="small"></ion-icon>
                </ion-label>
              </ion-button>
            </div>
            <div>
              <ion-button expand="block" class="login-button-options"  fill="white" (click)="loginWithFb()">
                <ion-label>
                  <ion-icon name="logo-facebook" title="Facebook" size="small"></ion-icon>
                </ion-label>
              </ion-button>
            </div>
            <div>
              <ion-button expand="block" class="login-button-options" fill="white" (click)="loginWithFb()">
                <ion-label>
                  <ion-icon name="logo-apple" title="Apple" size="small"></ion-icon>
                </ion-label>
              </ion-button>
            </div>
          </section>

        </div>

      </form>
    </section>
  </article>



</ion-content>