.app-logo {
    margin-top: 30%;
    margin-bottom: 7rem;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
    }
    
    .logo-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
        margin-top: 5%;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        //color: var(--ion-color-green-light-tint);
        color: #516395;
            
    }
}

.remember-me-row {
    background: transparent;
}

ion-checkbox{
    margin-right: 0.5rem;
}

