<ion-content>
  <div class="register-card">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" autocomplete="username"></ion-input>
      <ion-icon name="mail" mode="ios" slot="end" align-self-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" clear-on-edit autocomplete="current-password"></ion-input>
      <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
    </ion-item>
    <div class="ion-text-right margin-top margin-bottom">
      <a routerLink="/login/forgot-password" routerDirection="forward" fill="clear" style="text-decoration: none;">
        Forgot Password?
      </a>
    </div>

    <div class="margin-bottom">
      <ion-label color="danger">{{ loginErrorMsg }}</ion-label>
    </div>

    <ion-button expand="block" class="register" fill="solid" size="default" (click)="login()"
      [disabled]="!email || !password">Login</ion-button>

    <div class="ion-text-center margin-top margin-bottom">
      <a routerLink="/login/register" routerDirection="forward" style="text-decoration: none;">
        Don't have slateIn account?
      </a>
    </div>
  </div>
</ion-content>