<ion-tabs class="tab-bar">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="myday">
      <ion-icon name="flash"></ion-icon>
      <ion-label>My Day</ion-label>
    </ion-tab-button>

    <ion-tab-button class="margin-extra-right" tab="todo">
      <ion-icon name="list"></ion-icon>
      <ion-label>ToDo</ion-label>
    </ion-tab-button>


    <ion-tab-button class="margin-extra-left" tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab class="fab-add" horizontal="center" vertical="bottom">
  <ion-fab-button (click)="setReminder()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>