<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="myday"></ion-back-button>
    </ion-buttons>
    <ion-title>New Task</ion-title>
  </ion-toolbar>
</ion-header>


  
  <ion-content>
    <!-- <div>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <img [src]="image" alt="this is the image"/>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <ion-button fill="outline" expand="block" size="small">Change Picture</ion-button>
        </ion-col>
      </ion-row>
    </div> -->
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit(taskForm.value)">
    <ion-card>
      <ion-item>
        <ion-label position="floating" color="primary">Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Description</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Remind me on a day</ion-label>
          <ion-toggle (ionChange)="remindme($event)"></ion-toggle>
        </ion-item>
      </ion-list>
      <div *ngIf="remindMeValue">
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime formControlName="reminderdate" displayFormat="MM/DD/YYYY" placeholder="Select Date" min={{currentDate}} max={{futureDate}}></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Remind me at time</ion-label>
          <ion-datetime formControlName="remindmetime" displayFormat="hh:mm a" placeholder="Select Time"></ion-datetime>
        </ion-item>
        
        <ion-list>
          <ion-item>
            <ion-label>Repeat</ion-label>
            <ion-select formControlName="repeat" placeholder="Select One">
              <ion-select-option value="never">Never</ion-select-option>
              <ion-select-option value="hourly">Hourly</ion-select-option>
              <ion-select-option value="daily">Daily</ion-select-option>
              <ion-select-option value="weekly">Weekly</ion-select-option>
              <ion-select-option value="biweekly">Biweekly</ion-select-option>
              <ion-select-option value="monthly">Monthly</ion-select-option>
              <ion-select-option value="monthly_3">Every 3 Months</ion-select-option>
              <ion-select-option value="monthly_6">Every 6 Months</ion-select-option>
              <ion-select-option value="yearly">Yearly</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>

    <!-- <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Remind me at a location</ion-label>
          <ion-toggle (ionChange)="remindmeLocation($event)"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating" color="primary"></ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
     
    </ion-card> -->

    <!-- <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>Remind me when messaging</ion-label>
          <ion-toggle (ionChange)="remindmeMessaging($event)"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="floating" color="primary">Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Description</ion-label>
        <ion-input type="text" formControlName="description"></ion-input>
      </ion-item>
    </ion-card> -->

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!taskForm.valid">Create</ion-button>
  </form>
   
  </ion-content>


