<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start" (click)="backClicked()">
      <ion-icon name="arrow-back" size="large"></ion-icon>
      Back
    </ion-buttons>
    <ion-title>{{updateTitle}}</ion-title>
    <ion-buttons slot="end" type="submit" (click)="documentEditForm.ngSubmit.emit()">
      Done
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form class="slateIn-form" #documentEditForm="ngForm" [formGroup]="updateNewTaskForm" 
  (ngSubmit)="register()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input id="title" formControlName="title" [value]="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-input formControlName="description" type="text"></ion-input>
      </ion-item>
      <br>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime value="" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY"
          formControlName="startDate" type="text" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime value="" display-format="hh:mm a" picker-format="hh:mm a"
          formControlName="startTime" type="text" placeholder="Select Time"></ion-datetime>
      </ion-item>
      <ion-item (click)="openEndRepeationPicker()">
        <ion-label>End Repeat</ion-label>
        <span class="repetationPicker" contentEditable=true data-text="Never" formControlName="endRepetationPicker" type="text" name="endRepetationPicker" ngDefaultControl
          >{{endRepetationPicker}}</span>
      </ion-item>
      <ion-item *ngIf="endRepetationPicker === 'Ondate'"> 
        <ion-label>End Date</ion-label>
        <ion-datetime value="" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY"
          formControlName="endDate" type="text" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime value="" display-format="hh:mm a" picker-format="hh:mm a"
          formControlName="endTime" type="text" placeholder="Select Time"></ion-datetime>
      </ion-item>

      <ion-item (click)="openRepeationPicker()">
        <ion-label>Repeat</ion-label>
        <span class="repetationPicker" contentEditable=true data-text="Never" formControlName="repetationPicker" type="text" name="repetationPicker" ngDefaultControl
          >{{repetationPicker}}</span>
      </ion-item>

    </ion-list>
  </form>
</ion-content>