<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start" (click)="backClicked()">
      <ion-icon name="arrow-back" size="large"></ion-icon>
      Back
    </ion-buttons>
    <ion-title>New Task</ion-title>
    <ion-buttons slot="end" (click)="backClicked()">
      Done
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <br>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime value="" display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format="MMM DD, YYYY HH:mm" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item> -->
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime value="" display-format="HH:mm" picker-format="MMM DD, YYYY HH:mm" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item (click)="openRepeationPicker()">
      <ion-label>Repeat</ion-label>
      <span placeHolder = "Never" fill="clear">{{repetationPicker}}</span>
    </ion-item>
    <!-- <ion-item>
      <ion-label>Travel Time</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item> -->
  </ion-list>
</ion-content>