<ion-content class="createProfile-page">
  <article class="parent flex flex-column padding16">
    <section class="app-logo">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="text-right">
            <ion-label class="notice-text-level-3">
              <!-- TODO : Add click event for routing to myDay page-->
              <ion-router-link class="no-decoration" routerLink="/login" routerDirection="back">
                Skip
              </ion-router-link>
            </ion-label>
           </ion-col>
          <ion-col size="12" class="app-logo-col">
            <h1 class="app-title page-header-level-1 margin-bottom16">Create Profile</h1>
            <div class="userImageDiv flex flex-row">
                <ion-avatar class="ion-margin-start no-margin user-avatar">
                  <div class="nameFirst">
                    <ion-label class="nameFirst-label">J</ion-label>
                  </div>
                </ion-avatar>
            </div>
            <div class="margin-top16">
              <!-- TODO : Add Upload image event-->
              <ion-label class="notice-text-level-1 text-reg">
                Upload Image
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="form-section">
      <form action="" class="createProfile-form flex flex-column slateIn-form" [formGroup]="createProfile">
        <div>
          <ion-item class="item-input-field">
            <ion-input class="app-form-field" autofill="off" placeholder="Name" formControlName="name" type="text"
              autocomplete="name">
            </ion-input>
          </ion-item>

          <ion-item class="item-input-field">
            <ion-input class="app-form-field" autofill="off" placeholder="Date of Birth" formControlName="dateofBirth"
              type="text" autocomplete="dateofBirth">
            </ion-input>
          </ion-item>

          <ion-item class="item-input-field">
            <ion-input class="app-form-field" autofill="off" placeholder="Add Location" formControlName="addLocation"
              type="text" autocomplete="addLocation">
            </ion-input>
          </ion-item>

          <ion-item class="item-input-field">
            <ion-input class="app-form-field" autofill="off" placeholder="Select Time Zone" formControlName="timeZone"
              type="text" autocomplete="timeZone">
            </ion-input>
          </ion-item>

          <div class="error-div">
            <ion-label class="ion-text-wrap" color="danger">{{resetPwdFailedErrorMsg}}</ion-label>
          </div>
        </div>

        <div>
          <ion-button expand="block" class="action-button-full" fill="solid">
            <ion-label class="btn-label notice-text-level-3">
              Save Profile
            </ion-label>
          </ion-button>
        </div>
      </form>
    </section>
  </article>
</ion-content>