<ion-content class="login-page">
  <!-- <ion-icon class="back-icon" size="large" name="chevron-back-outline"></ion-icon> -->
  
  <ion-icon class="reset-icon" name="refresh-circle"></ion-icon>
  <h6 class="reset-label">We just need your registered email address to send your password reset</h6>

  <ion-card class="login-card">
    <ion-item class="card-input-box">
      <ion-icon slot="end" name="mail-outline"></ion-icon>
      <ion-input placeholder="Email address" type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-text>
      <ion-label color="danger">{{resetPwdFailedErrorMsg}}</ion-label>
    </ion-text>
  </ion-card>
  <ion-button [disabled]="!email" expand="block" class="login-button" fill="solid"
    size="default" (click)="reset()">Reset Password</ion-button>
  
</ion-content>