<ion-content class="forgotPass-page">
  <article class="parent flex flex-column padding16">
    <section class="app-logo">
      <ion-grid>
        <ion-row>
          <ion-col class="app-logo-col">
            <h1 class="app-title page-header-level-1">Forgot Password</h1>
            <div>
              <ion-label class="notice-text-level-3 text-reg">
                Enter your E-mail here and get a link to reset your password on the same.
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>

    <section class="form-section">
      <form action="" class="forgetPass-form flex flex-column slateIn-form">
        <div>
          <ion-item class="item-input-field">
            <ion-input class="app-form-field" placeholder="Email" type="text" [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <div class="error-div">
            <ion-label class="ion-text-wrap" color="danger">{{resetPwdFailedErrorMsg}}</ion-label>
          </div>
        </div>

        <div>
          <ion-button expand="block" class="action-button-full" fill="solid">
            <ion-label class="btn-label notice-text-level-3">
              Get Reset Link
            </ion-label>
          </ion-button>

          <section class="ion-text-center">
            <ion-label class="notice-text-level-2 text-reg"> Already have an account?
              <ion-router-link class="no-decoration" routerLink="/login" routerDirection="back">
                Sign In
              </ion-router-link>
            </ion-label>
          </section>

        </div>
      </form>
    </section>
  </article>
</ion-content>