<ion-content class="forgotPass-page">

  <ion-icon class="reset-icon" name="refresh-circle"></ion-icon>
  <h6 class="reset-label">We just need your registered email address to send your password reset</h6>

  <section>


    <ion-card class="slateIn-card">
      <ion-card-content>
          <ion-item class="form-field">
            <ion-icon slot="end" name="mail-outline"></ion-icon>
            <ion-input placeholder="Email address" type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
      
        <div class="error-div">
          <ion-label class="ion-text-wrap" color="danger">{{resetPwdFailedErrorMsg}}</ion-label>
        </div>


        <ion-button [disabled]="!email" expand="block" class="reset-button" fill="solid" size="default"
          (click)="reset()">
          <ion-label>
            Reset Password
          </ion-label>
        </ion-button>

        <section class="ion-text-center margin-top margin-bottom">
          <h4> Already have an account? <a routerLink="/login" routerDirection="back">
              <ion-label class="signUp-text">Login</ion-label>
            </a>
          </h4>
        </section>

      </ion-card-content>
    </ion-card>
  </section>
</ion-content>