.slateIn-checkbox {
    --border-radius: 5px;
    --border-color-checked: var(--ion-color-secondary);
    --border-color: var(--ion-color-secondary);
    --checkmark-color: var(--ion-color-secondary);
    --size: 23px;
}