ion-fab {
    // // border-bottom: 0.5px solid black;
    // border-radius: 50%;
    // height: 3rem;
    // width: 3rem;
    // margin-left: -43px;

    ion-fab-button {
        --background: var(--ion-color-tertiary);
        --background-activated: var(--ion-color-tertiary-shade);
        height: 3rem;
        width: 3rem;
        --color: #fff;
        --color-activated: #fff;
    }
}
