// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  // --ion-background-color: linear-gradient(to bottom, #f2fcfe 10%, #8Fa5cf 100%);
  // APP Text Color
  --ion-text-color: var(--ion-color-slateIn-primary);
  // APP Text Color RGB
  --ion-text-color-rgb: var(--ion-color-slateIn-primary-rgb);
  // APP Font Family
  --ion-font-family: "roboto",
  "RobotoBlack",
  "RobotoBlackItalic",
  "RobotoBold",
  "RobotoBoldItalic",
  "RobotoItalic",
  "RobotoLight",
  "RobotoLightItalic",
  "RobotoMedium",
  "RobotoMediumItalic",
  "RobotoRegular",
  "RobotoThin",
  "RobotoThinItalic",
  "Helvetica Neue", 
  "Roboto",
  "PlayfairDisplayBlack",
  "PlayfairDisplayBlackItalic",
  "PlayfairDisplayBold",
  "PlayfairDisplayBoldItalic", 
  "PlayfairDisplayItalic",
  -apple-system,
  BlinkMacSystemFont,
  ionic;
  
  --slateIn-button-Shadow: 0px 23px 23px -10px rgb(29, 30, 58, 0.25);

  /* Primary: SlateIn default font/border/dark shadow color */
  --ion-color-slateIn-primary: #1D1E3A;
  --ion-color-slateIn-primary-rgb: 29, 30, 58;
  --ion-color-slateIn-primary-contrast: #ffffff;
  --ion-color-slateIn-primary-contrast-rgb: 255, 255, 255;
  --ion-color-slateIn-primary-shade: #1a1a33;
  --ion-color-slateIn-primary-tint: #34354e;


  /* Danger: SlateIn Error,warning color */
  --ion-color-slateIn-warning: #FF4E60;
  --ion-color-slateIn-primary-rgb: 255, 78, 96;
  --ion-color-slateIn-primary-contrast: #000000;
  --ion-color-slateIn-primary-contrast-rgb: 0, 0, 0;
  --ion-color-slateIn-primary-shade: #e04554;
  --ion-color-slateIn-primary-tint: #ff6070;



  /* Success: SlateIn  action color*/
  --ion-color-slateIn-success: #00909E;
  --ion-color-slateIn-primary-rgb: 0,144,158;
  --ion-color-slateIn-primary-contrast: #ffffff;
  --ion-color-slateIn-primary-contrast-rgb: 255,255,255;
  --ion-color-slateIn-primary-shade: #007f8b;



  --ion-color-primary: #4d4646;
  --ion-color-primary-rgb: 77, 70, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #443e3e;
  --ion-color-primary-tint: #5f5959;

  --ion-color-secondary: #8a82bc;
  --ion-color-secondary-rgb: 138, 130, 188;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #7972a5;
  --ion-color-secondary-tint: #968fc3;

  --ion-color-tertiary: #71ccca;
  --ion-color-tertiary-rgb: 113, 204, 202;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #63b4b2;
  --ion-color-tertiary-tint: #7fd1cf;

  --ion-color-success: #dbf9dd;
  --ion-color-success-rgb: 219, 249, 221;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #c1dbc2;
  --ion-color-success-tint: #dffae0;

  --ion-color-warning: #ff8f5c;
  --ion-color-warning-rgb: 255, 143, 92;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e07e51;
  --ion-color-warning-tint: #ff9a6c;

  --ion-color-danger: #dd614a;
  --ion-color-danger-rgb: 221, 97, 74;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #c25541;
  --ion-color-danger-tint: #e0715c;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * Dark Colors
 * ------------------
 */

body.dark {
  --ion-color-primary: #aac3de;
  --ion-color-primary-rgb: 170, 195, 222;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #96acc3;
  --ion-color-primary-tint: #b3c9e1;

  --ion-color-secondary: #bfc5ff;
  --ion-color-secondary-rgb: 191, 197, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a8ade0;
  --ion-color-secondary-tint: #c5cbff;

  --ion-color-tertiary: #a9e7e6;
  --ion-color-tertiary-rgb: 169, 231, 230;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #95cbca;
  --ion-color-tertiary-tint: #b2e9e9;

  --ion-color-success: #73bcba;
  --ion-color-success-rgb: 115, 188, 186;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #65a5a4;
  --ion-color-success-tint: #81c3c1;

  --ion-color-warning: #e07e51;
  --ion-color-warning-rgb: 224, 126, 81;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c56f47;
  --ion-color-warning-tint: #e38b62;

  --ion-color-danger: #c25541;
  --ion-color-danger-rgb: 194, 85, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ab4b39;
  --ion-color-danger-tint: #c86654;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

/*
 * iOS Dark Theme
 * -------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}

/*
 * Material Design Dark Theme
 * ------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1a1b1e;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}

$fab-size: 70px;

/* Fonts Face Variable*/
@font-face {
  font-family: PlayfairDisplayBlack;
  src: url(../assets/fonts/PlayfairDisplay-Black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: PlayfairDisplayBlackItalic;
  src: url(../assets/fonts/PlayfairDisplay-BlackItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: PlayfairDisplayBold;
  src: url(../assets/fonts/PlayfairDisplay-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: PlayfairDisplayBoldItalic;
  src: url(../assets/fonts/PlayfairDisplay-BoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: PlayfairDisplayItalic;
  src: url(../assets/fonts/PlayfairDisplay-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoBlack;
  src: url(../assets/fonts/Roboto-Black.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}


@font-face {
  font-family: RobotoBlackItalic;
  src: url(../assets/fonts/Roboto-BlackItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoBold;
  src: url(../assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoBoldItalic;
  src: url(../assets/fonts/Roboto-BoldItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoItalic;
  src: url(../assets/fonts/Roboto-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoLight;
  src: url(../assets/fonts/Roboto-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}


@font-face {
  font-family: RobotoLightItalic;
  src: url(../assets/fonts/Roboto-LightItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoMedium;
  src: url(../assets/fonts/Roboto-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoMediumItalic;
  src: url(../assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoRegular;
  src: url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoThin;
  src: url(../assets/fonts/Roboto-Thin.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}

@font-face {
  font-family: RobotoThinItalic;
  src: url(../assets/fonts/Roboto-ThinItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}