// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  // Background color for whole app
  --ion-background-color:var(--ion-color-light);
  // APP Font Family
  --ion-font-family: 'SFProTextRegular';
  font-weight: normal;

  // APP Text Color
  --ion-text-color: var(--ion-color-primary-contrast);
  // APP Text Color RGB
  --ion-text-color-rgb: var(--ion-color-primary-contrast-rgb);
  


  --ion-color-primary: #31E8E8;
  --ion-color-primary-rgb: 49,232,232;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #2BCCCC;
  --ion-color-primary-tint: #46EAEA;

  --ion-color-secondary: #5A5A5A;
  --ion-color-secondary-rgb: 90,90,90;
  --ion-color-secondary-contrast: #FFFFFF;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #4F4F4F;
  --ion-color-secondary-tint: #6B6B6B;

  --ion-color-tertiary: #5260FF;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #FFFFFF;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854E0;
  --ion-color-tertiary-tint: #6370FF;

  --ion-color-success: #31E89E;
  --ion-color-success-rgb: 49,232,158;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #2BCC8B;
  --ion-color-success-tint: #46EAA8;

  --ion-color-warning: #FFE180;
  --ion-color-warning-rgb: 255,225,128;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #E0C671;
  --ion-color-warning-tint: #FFE48D;

  --ion-color-danger: #FF4D64;
  --ion-color-danger-rgb: 255,77,100;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #E04458;
  --ion-color-danger-tint: #FF5F74;

  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #FFFFFF;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1E1E1E;
  --ion-color-dark-tint: #383838;

  --ion-color-medium: #5A5A5A;
  --ion-color-medium-rgb: 90,90,90;
  --ion-color-medium-contrast: #FFFFFF;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #4F4F4F;
  --ion-color-medium-tint: #6B6B6B;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #E0E0E0;
  --ion-color-light-tint: #FFFFFF;

  --ion-color-grey-light: #AEAEB2;
  --ion-color-grey-light-rgb: 174,174,178;
  --ion-color-grey-light-contrast: #000000;
  --ion-color-grey-light-contrast-rgb: 0, 0, 0;
  --ion-color-grey-light-shade: #99999d;
  --ion-color-grey-light-tint: #b6b6ba;
}

.ion-color-grey-light {
  --ion-color-base: var(--ion-color-grey-light);
  --ion-color-base-rgb: var(--ion-color-grey-light-rgb);
  --ion-color-contrast: var(--ion-color-grey-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grey-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-grey-light-shade);
  --ion-color-tint: var(--ion-color-grey-light-tint);
}

/*
 * iOS Dark Theme
 * -------------------
 */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}

/*
 * Material Design Dark Theme
 * ------------------------------
 */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1a1b1e;
}

/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}

$fab-size: 70px;

/* Fonts Face Variable*/
@font-face {
  font-family: SFProTextRegular;
  src: url(../assets/fonts/sf-pro-text-regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  color: black;
}