ion-card {
  box-shadow: none;
  border: 1px solid rgba(123, 123, 123, 0.1);
  --background: #ffffff;

  position: relative;
  margin-left: 20px;
  margin-right: 20px;

  ion-grid,
  ion-row,
  ion-col {
    padding: 0px;
  }

  ion-col[size='3'] {
    border-right: 1px solid rgba(123, 123, 123, 0.1);
    padding-top: 12px;

    ion-card-header {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      padding: 0;
    }

    ion-badge {
      --background: #555555;
      padding: 5px;
    }
  }

  ion-col.next-due-task {
    ion-card-header {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      padding: 0;
      padding-right: 12px;
    }
  }

  ion-badge {
    border-radius: 4px;
  }
}

.bottom-margin {
  margin-bottom: 12px;
}

.left-margin {
  margin-left: 12px;
}
