<ion-card>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="11">
        <ion-item lines="none">
          <ion-badge>
            {{ cardTitle}}
          </ion-badge>
          <ion-label color="grey-light" class="next-due-task">{{ cardContent }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-icon (click)="onCancel()" src="./assets/icons/follow-up-card-close.svg"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="cardProgressValue"></ion-progress-bar>
</ion-card>


