<ion-header>
  <ion-toolbar>
    <ion-title>My Day</ion-title>
    <ion-buttons slot="primary" (click)="setReminder()">
      <ion-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="All" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="All">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Favourite">
      <ion-label>Favourite</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-toolbar>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>

  <div [ngSwitch]="segment">
    <ion-label *ngSwitchCase="'Favourite'">
      <ng-container *ngFor="let taskDetail of favouriteTaskDetails">
        <app-task-info-card [taskinfo]="taskDetail" (favoriteChange)="updateFavorite($event)"></app-task-info-card>
      </ng-container>
    </ion-label>

    <ion-label *ngSwitchDefault>
      <ng-container *ngFor="let taskDetail of taskDetails">
        <app-task-info-card [taskinfo]="taskDetail" (favoriteChange)="updateFavorite($event)"></app-task-info-card>
      </ng-container>
    </ion-label>
  </div>

  <ion-button (click)="calendarLogin()">Login to get Calendar</ion-button>
  <ion-button (click)="getCalendar()">get Calendar</ion-button>
  <ion-button (click)="calendarLogout()">Logout Calendar</ion-button>

  <ng-container *ngFor="let calendarItem of calendarItems">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{calendarItem.summary}}</ion-card-title>
        <ion-card-subtitle>
          <a href="{{calendarItem.htmlLink}}">Link to calendar</a>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>


</ion-content>
