<ion-content>

<ion-header>
  <ion-toolbar>
    <ion-title>My Day</ion-title>
  </ion-toolbar>
</ion-header>


<section>
  <ion-segment value="All" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="All">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Favourite">
      <ion-label>Favourite</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-toolbar>
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>

  <div [ngSwitch]="segment">
    <ion-label *ngSwitchCase="'Favourite'">
      <ng-container *ngFor="let taskDetail of favouriteTaskDetails">
        <app-task-info-card [taskinfo]="taskDetail" (favoriteChange)="updateFavorite($event)"></app-task-info-card>
      </ng-container>
    </ion-label>

    <ion-label *ngSwitchDefault>
      <ng-container *ngFor="let taskDetail of taskDetails">
        <app-task-info-card [taskinfo]="taskDetail" (favoriteChange)="updateFavorite($event)"></app-task-info-card>
      </ng-container>
    </ion-label>
  </div>
</section>
</ion-content>