<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close()">
      <ion-icon name="arrow-back" slot="icon-only" class="back-button-icon"></ion-icon>
    </ion-buttons>
    <ion-title>Create a checklist</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="slateIn-form">
    <ion-list-header class="page-title">
      Create a checklist for
    </ion-list-header>

    <ion-item class="item-input-field margin-bottom16">
        <ion-input color="secondary" type="text" class="app-form-field" placeholder="Title" [(ngModel)]="header"></ion-input>
    </ion-item>
    
    <ion-list *ngFor="let todo of list; let i = index">
        <ion-item lines="none" class="item-input-field">
          <!-- <ion-icon slot="start" name="square-outline"></ion-icon> -->
          <ion-label [color]="todo.completed ? 'grey-light' : 'dark'">{{ todo.title }}</ion-label>
          <ion-checkbox color="primary" class="slateIn-checkbox" slot="start" [checked]="todo.completed" (ionChange)="todoCompleted(todo)"></ion-checkbox>
        
          <!-- <ion-label *ngIf="todo.completed"><s>{{ todo.title }}</s></ion-label> -->
          <!-- <ion-icon *ngIf="todo.completed" slot="start"  mode="md" name="checkbox-outline" (click)="todoCompleted(todo)"></ion-icon> -->
        </ion-item>
    </ion-list>

    <ion-item class="item-input-field">
      <!-- <ion-icon color="secondary" slot="start" name="square-outline"></ion-icon> -->
      <ion-input color="secondary" type="text" value="" placeholder="Add here" clearInput [(ngModel)]="inputValue" (keyup.enter)="toDoEntered()"></ion-input>
      <ion-icon color="secondary" slot="start" name="add-outline" (click)="toDoEntered()"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button 
      class="action-button-full footer-button" 
      expand="block" 
      (click)="createChecklistAndClose()"
      [disabled]="!header || !listItemAdded">
      <ion-text class="btn-label notice-text-level-3">
        Save Checklist
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>

