ion-toolbar {
    --border-width: 0px !important;
}

ion-item {
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
}

.footer-button {
    margin-bottom: 4.125rem;
    padding: 0 1.125rem;
}
