<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start" (click)="backClicked()">
      <ion-icon name="arrow-back" size="large" ></ion-icon>
      Back
    </ion-buttons>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(info$ |async) as info">
    <ion-list-header>
      <ion-toolbar>
        <ion-chip slot="end" outline color="grey-dark" (click)="onUpdateInfoClick()" *ngIf="!upgateButtonClicked">
          <ion-icon name="create" mode="md" size="small"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-chip>

        <ion-chip slot="end" outline color="grey-dark" (click)="onSaveInfoClicked()" *ngIf="upgateButtonClicked">
          <ion-icon name="send" size="small"></ion-icon>
          <ion-label>Save</ion-label>
        </ion-chip>
      </ion-toolbar>
    </ion-list-header>

    <div *ngIf="!upgateButtonClicked; else changePic">
      <ion-item class="default-avatar">
        <div class="profile_avatar">
          <ion-avatar>
            <img #profilePic [src]="(photo)?photo:avatarSrc">
          </ion-avatar>
        </div>
      </ion-item>
    </div>
    <ng-template #changePic>
      <ion-item class="default-avatar">
        <div class="profile_avatar">
          <ion-avatar (click)="onProfilePicClick()">
            <img #profilePic [src]="(photo)?photo:avatarSrc">
            <ion-icon mode="md" name="add-circle"></ion-icon>
          </ion-avatar>
        </div>
      </ion-item>
    </ng-template>

    <ion-list-header>
      Name
    </ion-list-header>
    <ion-item lines="full" *ngIf="!upgateButtonClicked; else changeName">
      <ion-label>{{userInfo.fname | capitalize}} {{userInfo.lname | capitalize}}</ion-label>
    </ion-item>
    <ng-template #changeName>
      <ion-item lines="full">
        <ion-input  type="text" [(ngModel)]="userInfo.fname" value="userInfo.fname"></ion-input>
        <ion-input  type="text" [(ngModel)]="userInfo.lname" value="userInfo.lname"></ion-input>
      </ion-item>
    </ng-template>

    <ion-list-header>
      Birthday
    </ion-list-header>
    <ion-item lines="full" *ngIf="!upgateButtonClicked; else changeDate">
      <ion-label>{{ formatDate(userInfo.birthdate) }}</ion-label>
    </ion-item>
    <ng-template #changeDate>
      <ion-item lines="full">
        <ion-datetime displayFormat="MM/DD/YYYY" [value]="userInfo.birthdate" max="{{currentDate}}" (ionChange)="upDateBirthDate($event.detail.value)"></ion-datetime>
      </ion-item>
    </ng-template>
    


    <ion-list-header>
      Gender
    </ion-list-header>
    <ion-item lines="full" *ngIf="!upgateButtonClicked; else changeGender">
      <ion-label>{{ userInfo.gender | titlecase}}</ion-label>
    </ion-item>
    <ng-template #changeGender>
      <ion-item lines="full">
        <ion-select placeholder="Select One" mode="ios" [(ngModel)]="userInfo.gender">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
        </ion-select>
      </ion-item>
  </ng-template>

  </ion-list>
</ion-content>
