<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personal Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-list-header>
      Name
    </ion-list-header>
    <ion-item lines="full">
      <ion-label>Tanmay Patel</ion-label>
    </ion-item>

    <ion-list-header>
      Birthday
    </ion-list-header>
    <ion-item lines="full">
      <ion-label>01/01/2020</ion-label>
    </ion-item>


    <ion-list-header>
      Gender
    </ion-list-header>
    <ion-item lines="full">
      <ion-label>Male</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
