ion-list-header{
    --color: var(--ion-color-grey-dark);

    .subTitle {
        padding-left: 0;
    }
}

ion-toolbar {
    //--background: #2A2A2E;
    --border-style: none;
    --padding-start: 0;
    --padding-end: 10px;
}

ion-datetime, ion-select{
    --padding-start: 0;
}

ion-avatar {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;

    ion-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 3px;
        right: -3px;
    }
}

.file-input {
    display: none;
}

img.plus-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 3px;
    right: -1px;
}

.default-avatar{
    --border-style : none;
    
    ion-avatar {
        position: relative;
        width: 80px;
        height: 80px;
    }   
}

.profile_avatar {
    margin:0 auto;
}