ion-content {
  --overflow: hidden;
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

.default-avatar {
  --border-style: none;

  .profile_avatar {
    margin: 0 auto;
    margin-top: 40px;
  }
}



.name-avatar {
  text-align: center;
}

.arrow-forward {
  margin-top: 10px;
}

.logout {
  --min-height: 52px;
}

.default-avatar {
  ion-avatar {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 140px;
    width: 80px;
    height: 80px;

    ion-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 3px;
      right: -13px;
    }
  }
}