<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
      <ion-item class="default-avatar">
          <ion-avatar>
            <img #profilePic  [src]="avatarSrc">
          </ion-avatar>
      </ion-item>
      <ion-item >
          <ion-label class="name-avatar">
              <h2>Tanmay</h2>
              <p>pateltanmay30@gmail.com</p>
            </ion-label>
      </ion-item>

      <ion-item (click)="goToPersonalInfo()">
        <ion-avatar slot="start">
          <img  src="../../assets/icon/icons8-information-50.png">
        </ion-avatar>
        <ion-label>
          <h2>Name, Phone Number, Email</h2>
        </ion-label>
        <ion-avatar slot="end">
          <ion-icon class="arrow-forward" name="arrow-forward"></ion-icon>
        </ion-avatar>
      </ion-item>

      <ion-item (click)="goToPasswordAndSecurity()">
        <ion-avatar slot="start">
          <img  src="../../assets/icon/encryption.svg">
        </ion-avatar>
        <ion-label>
          <h2>Password & Security</h2>
        </ion-label>
        <ion-avatar slot="end">
          <ion-icon class="arrow-forward" name="arrow-forward"></ion-icon>
        </ion-avatar>
      </ion-item>

      <ion-item class="logout"> 
        <ion-avatar slot="start">
          <img  src="../../assets/icon/icons8-logout-rounded-down-64.png">
        </ion-avatar>
        <ion-label>
          <h2>Logout</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
