// ######################################### Start Global Customization #########################################
.width-100 {
  width: 100%;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.align-right {
  align-items: right;
}

.text-left {
  text-align: left;
}

.text-right {
 text-align: right;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

ion-item {
  --padding-start: 0;
}

.no-decoration {
  text-decoration: none;
}

ion-router-link{
  --color : var(--ion-color-primary-contrast);
  font-weight: 600;
}
// ######################################### End Global Customization ######################################### 



// ######################################### Start Global Margin & Padding Classes ######################################### 
.margin-auto {
  margin: auto;
}

.no-margin {
  margin: 0px !important;
}

.margin-bottom16 {
  margin-bottom: 1rem;
}

.margin-top16 {
  margin-top: 1rem;
}

.margin-v-16 {
  margin: 1rem 0rem;
}

.margin-h-16 {
  margin-bottom: 0rem 1rem;
}

// Margin Ends //

// Padding Start //
.padding16 {
  padding: 1rem;
}
// ######################################### End Global Customization #########################################