// ######################################### Start Global Customization ######################################### 
ion-content {
    --ion-text-color: #919193;
    --ion-background-color: #ffffff;
}

ion-icon {
    color: var(--ion-color-primary-tint);
}

.login-page {
    --background: linear-gradient(to bottom, #f2fcfe 10%, #8Fa5cf 100%);

    .login-card{
        margin: 0.4rem 0.7rem;
        padding: 0;
        border-bottom: 1.5px solid;

        .card-input-title {
            padding-left: 1rem;
            padding-top: 0.4rem;
            margin: 0;
            font-size: 0.9rem;
            color: var(--ion-color-primary);
        }

        .card-input-box{
            padding: 0px;
            margin: 0px;
               
           color: var(--ion-color-primary);
           opacity: 80%;
           --border-style: none;

           ion-input {
               padding: 0px;
               margin: 0px;
           }

        }
    }

    .login-button {
        margin: 1.5rem 0.7rem;
    }
}
// ######################################### End Global Customization ######################################### 



// ######################################### Start Global Margin & Padding Classes ######################################### 

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-top {
    margin-top: 20px !important;
}

// ######################################### End Global Margin & Padding Classes ######################################### 




// ######################################### Start Ion Icons ######################################### 
ion-fab {
    ion-icon {
        color: #ffffff;
    }
}
// ######################################### End Ion Icons ######################################### 

app-register, app-login, app-forgot-password {
    div.register-card {
        padding: 10px;
    }
}

.float-right {
    float: right;
}


input[placeholder="startDate"], input[placeholder="endDate"], input[placeholder="startTime"], input[placeholder="endTime"] {
    border: none !important;
    background-color: #f9f9f9 !important;
    font-size: larger !important;
}