// ######################################### Start Global Customization ######################################### 
ion-content {
    --ion-text-color: #ffffff;
    --ion-background-color: #2A2A2E;
}

ion-icon {
    color: var(--ion-color-primary-tint);
}
// ######################################### End Global Customization ######################################### 



// ######################################### Start Global Margin & Padding Classes ######################################### 

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-top {
    margin-top: 20px !important;
}

// ######################################### End Global Margin & Padding Classes ######################################### 




// ######################################### Start Ion Icons ######################################### 
ion-fab {
    ion-icon {
        color: #ffffff;
    }
}
// ######################################### End Ion Icons ######################################### 

app-register, app-login, app-forgot-password {
    div.register-card {
        position: absolute;
        width: 100%;
        padding: 10px;
    }
}

.float-right {
    float: right;
}
