.viewmore-text {
    text-align: right;
}

ion-item {
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 5px;
    --padding-end: 0px;
}

ion-card {
    margin: 10px;
}
