<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-start main-title">
      Hello Alicia,
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title class="ion-text-start sub-title">
      Got any plans today?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list-header class="page-title">
            Checklist
          </ion-list-header>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-fab class="slateIn-fab" horizontal="end">
            <ion-fab-button class="slateIn-fab-button" (click)="gotoNewListModal()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <app-list-card-item *ngFor="let row of listRows.slice().reverse()"
        class="margin-bottom16"
        (click)="gotoToDoLisPage(row)"
        [cardTitle]="row.listName"
        [cardContent]="totalAndCompletedItemCount(row)"
        [cardProgressValue]="progressBarCount(row)"
        [isAllItemCompleted]="isAllItemCompleted(row)"
        (cancelled)="onCancel($event)">
      </app-list-card-item>
    </ion-list>
  </ion-card>
</ion-content>

