<ion-header>
    <ion-toolbar color="success">
      <ion-title>
        Todos!
      </ion-title>
      <ion-buttons slot="end">
          <button ion-button icon-only (click)="addItem()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item-sliding *ngFor="let todo of items" lines="none" (click)="viewItem(todo)">
      <ion-label color="primary">{{ todo.data.title }}</ion-label>
      <!-- <ion-icon *ngIf="todo.completed" mode="md" name="checkmark-circle-outline"></ion-icon>
      <ion-icon *ngIf="!todo.completed" mode="md" name="radio-button-off"></ion-icon> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
