<ion-content>
  <div class="register-card">
    <ion-card class="ion-padding-top">
      <input type="file" name="file" id="file" class="file-input" (change)="picChange($event)"
        accept="image/gif, image/jpeg, image/png" />
      <label for="file">
        <ion-avatar>
          <img #profilePic [src]="avatarSrc">
          <img class="plus-icon" src="assets/icon/plus.svg" *ngIf="!isProfilePicSelected">
        </ion-avatar>
      </label>

      <ion-card-content>
        <ion-list  class="margin-bottom">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ion-item>
              <ion-input placeholder="First Name" formControlName="fname" type="text" autofocus="true"></ion-input>
              <ion-icon name="person" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Last Name" formControlName="lname" type="text" autofocus="true"></ion-input>
              <ion-icon name="person" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>

            <ion-item>
              <ion-input autofill="off" placeholder="Email" formControlName="email" type="text"></ion-input>
              <ion-icon name="mail" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item *ngIf="controls.email.touched && controls.email.errors" lines="none">
              <ion-text color="danger">
                <ion-label>Email must be valid formate</ion-label>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select placeholder="Select One" mode="ios" formControlName="gender">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Birthdate</ion-label>
              <ion-datetime value="1990-06-15" placeholder="Select Date" formControlName="birthdate"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Password" formControlName="password" type="password" clear-on-edit></ion-input>
              <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item *ngIf="controls.password.errors && controls.password.errors.minlength" lines="none">
              <ion-text color="danger">
                <ion-label>Password must be at least 5 characters</ion-label>
              </ion-text>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password" clear-on-edit>
              </ion-input>
              <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch" lines="none">
              <ion-text color="danger">
                <ion-label>Passwords must match</ion-label>
              </ion-text>
            </ion-item>
            <ion-button expand="block" class="ion-margin-top register" fill="solid" size="default" (click)="register()"
              [disabled]="!registerForm.valid">Register</ion-button>

            <ion-button routerLink="/login" routerDirection="back" expand="block" fill="clear" color="medium">
              Already have account? Login
            </ion-button>
          </form>
        </ion-list>

        <ion-text color="danger">
          <ion-label>{{ singUpFailedErrorMsg }}</ion-label>
        </ion-text>
      
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>