ion-avatar {
    position: relative;
    margin: 0 auto;
    margin-top: -60px;
    width: 80px;
    height: 80px;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

img.plus-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 3px;
    right: -1px;
}

@media only screen and (min-height: 660px) {
    div.register-card {
        position: absolute;
        bottom: 15%;
        width: 100%;
    }
}