<ion-content>
  <div class="register-card">
    <ion-card class="ion-padding-top">
      <input type="file" name="file" id="file" class="file-input" (change)="picChange($event)" accept="image/gif, image/jpeg, image/png"/>
      <label for="file">
        <ion-avatar>
          <img #profilePic [src]="avatarSrc">
          <ion-icon class="plus-icon" *ngIf="!isProfilePicSelected" src="../../assets/icon/plus.svg"></ion-icon>
        </ion-avatar>
      </label>

      <ion-card-content>
        <ion-list>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ion-item>
              <ion-input placeholder="Name" formControlName="name" type="text" autofocus="true"></ion-input>
              <ion-icon name="person" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>

            <ion-item>
              <ion-input autofill="off" placeholder="Email" formControlName="email" type="text"></ion-input>
              <ion-icon name="mail" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Password" formControlName="password" type="password" clear-on-edit></ion-input>
              <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item *ngIf="controls.password.errors && controls.password.errors.minlength" lines="none">
              <ion-label>Password must be at least 5 characters</ion-label>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password" clear-on-edit>
              </ion-input>
              <ion-icon name="key" mode="ios" slot="end" align-self-end></ion-icon>
            </ion-item>
            <ion-item *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.mustMatch" lines="none">
              <ion-label>Passwords must match</ion-label>
            </ion-item>
            <ion-button expand="block" class="ion-margin-top" fill="solid" size="default" (click)="register()"
              [disabled]="!registerForm.valid">Register</ion-button>

              <div class="ion-text-center ion-margin-top">
                <ion-label >Already have account? Login</ion-label>
              </div>

          </form>
        </ion-list>        
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>